


h2 {
  font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;
  text-align: center;
  color: #034f84;
  font-size: 5vw;
}
body {
  background-color: #f7cac9;
}
.loginpanel input {
border-radius: 20px;
font-size: 5vw;
width: 100%;
margin-bottom: 30px;

}
.passwordpanel input{
  border-radius: 20px;
  font-size: 5vw;
  width: 100%;
  margin-bottom: 30px;

}