  h2 {
    text-align: center;
    font-size: 50px;
    font-family: whitesmoke;
  }

  body {
  background-color:#888888;
  }
  
  button {color: #666666;
  background-color: #CCCCCC;
  text-align: center;
  width: 100%;
  font-family: whitesmoke;
  font-size: 80px;
  }
  .zapalona {
    width: 100%;
    height: 60px;
   color: #555555;
   text-align: center;
   font-family: whitesmoke;
  font-size: 40px;
  background-color:#33CC66;
  }
  .zgaszona {
    width: 100%;
    height: 60px;
color: #555555;
text-align: center;
font-family: whitesmoke;
font-size: 40px;
background-color: #DC143C;
  }