
  .loginpanel {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  padding-bottom: 25 px;
  }
  body{
    width: 95%;
    height: 100%;
    background-image:linear-gradient(#3366CC,#6699FF,#99CCFF);
    margin-bottom: 48%;

  }
  input[type="text"] {
  border: 1.5px solid #66CCFF;
  margin-top: 10px;
  }
  input[type="password"]{
  border: 1.5px solid #66CCFF; 
  box-align: center;
  clear: both;
  margin-top: 10px;
margin-bottom: 10px;
  }
  .loginbutton {color: white;
  text-align: center;
  width: 25%;
  font-family:'Amiko' ;
  font-size: 14px;
  clear: both;
  margin: 0 auto;
   

  }
.loginbutton button {
  color: black;
  background-color: white;
  border-color: rgb(53, 124, 231);
  text-align: 'Amiko';
}
.passwordpanel { 
  width: 100%;
  margin: 0 auto;
  text-align: center;

}

h2 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Amiko', sans-serif;
color: navy;
font-size: 0px;
}
h2::before {
  content: url(https://gryplanszowe.pl/pol_pl_Puzzle-100-el-Slodki-kotek-4291_1.jpg);
} 





